.cart-container {
  padding: 30px;
  max-width: 800px;
  margin: auto;
}

.cart-item {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;  
  align-items: center;
  text-align: center;
  gap: 10px;
}

.cart-item img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.cart-item h2 {
  font-size: 16px;
}

.cart-item h3 {
  font-size: 14px;
}