*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f9;
}
button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #150215;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

button:hover {
  background: #d7e20c;
  color: black;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}
